/*======================================================================
Base Element Styles
=======================================================================*/

body {
    background-color: black; 
    width: 100%; 
    line-height: 1.6em; 
    font-family: 'Merriweather', serif;
    font-size: 20px; 
}

p, 
label{
    color: rgba(0, 0, 0, 0.5)
}

p {
    text-align: left; 
}

.hr1 {
    border: none; 
    height: 4px; 
    color: #333; 
    background-color: #332; 
}

.hr2 {
    border: none; 
    height: 1px; 
    color: #333; 
    background-color: #332; 
}

/*======================================================================
Top Section Styles
=======================================================================*/

.container {
    box-sizing: border-box;
    background-color: white; 
    margin: 0 auto; 
    width: 90%; 
    padding: 10px; 
}

.top {
    text-align: center; 
    margin: 0; 
}

.first-header {
    background-color: rgb(105, 105, 105); 
    text-transform: uppercase; 
    width: 100%; 
    padding-bottom: 40px;
    margin: 0; 
}

h1 {
    color: white; 
    padding-top: 40px; 
    margin: 0 auto; 
    width: 100%;  
}

.third p {
    text-align: center; 
}

/*======================================================================
Contact Information Styles
=======================================================================*/

label {
    display: block; 
    width: 100%;
    margin-top: 5px; 
    text-align: left; 
}

.change {
    text-align: left; 
    width: 100%;
}

fieldset {
    border: 0; 
    text-align: left; 
}

legend {
    font-size: 24px; 
    text-align: left; 
    font-weight: bold; 
    padding-top: 40px; 
    padding-left: 30px; 
}

#name,
#email,
#phone,
#address,
#city,
#zip {
    padding-left: 20px; 
}

input, 
#states {
    margin-bottom: 25px; 
    padding-right: 0px; 
    height: 44px; 
    width: 95%; 
    background-color: lightgrey; 
    border: 0; 
    border-radius: 7px 7px 7px 7px; 
}

#states {
    color: darkslategray; 
}

#zip {
    width: 200px; 
}

/*======================================================================
Newsletter Styles
=======================================================================*/


.newsletter-checkbox {
    display: flex;  
}    
.checkbox {
    width: 40px; 
    margin-right: 40px; 
}

.checktext {
   width: 100%; 
   margin-top: 13px; 
}

/*======================================================================
Radio Styles
=======================================================================*/

.newsletter-radio {
    display: flex;
}

ul li{
    display: flex; 
    justify-content: flex-start; 
    list-style-type: none; 
    width: 100%; 
}

ul {
    padding: 0;
    width: 350px;
    margin-top: 20px; 
    width: 100%;
    }

.radiocircle {
    flex-basis: 40%; 
    margin-right: 40px; 
    order: -1;
}

.radiotext {
   width: 100%; 
   margin-top: 13px; 
}

/*======================================================================
Textarea, button and footer styles
=======================================================================*/

textarea {
    height: 150px; 
    width: 100%; 
    background-color: rgba(105, 105, 105, 0.3); 
    border-style: none; 
    border-radius: 7px 7px 7px 7px; 
}

.button {
    width: 100%; 
    text-align: center; 
    padding: 0; 
    margin: 0; 
}

.button-shape {
    background-color: mediumblue;
    text-align: center; 
    width: 80%;
    padding: 30px; 
    color: white;
    font-size: 30px; 
    border-radius: 7px 7px 7px 7px; 
}

.buttontext {
    color: white; 
}

.copy {
    text-align: center; 
}

footer {
    padding-bottom: 100px; 
}

/*======================================================================
Pseudo class, pseudo elements, transform and transition Styles
=======================================================================*/

:focus {
    background-color: rgb(231, 255, 122); 
}

button:hover {
    outline: 3px dashed red; 
}

::placeholder {
    padding: 40px; 
    font-style: italic; 
}

label:hover {
    background-color: lightpink; 
    font-size: 40px; 
    line-height: 2em; 
    transition-duration: 2s; 
}

h1
{
    font-size:  50px; 
    transition: font-size 1s; 
}

h1:hover {
    font-size: 60px; 
    color: purple ; 
    line-height: 2em; 
}

.second:hover {
    transform: rotate(180deg); 
}

legend:hover {
    transform: scale(1.4);
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 1px solid red; 
}


/*======================================================================
Media Query Styles
=======================================================================*/

@media(min-width: 768px){

body {
    background-color: tomato;
}

.container {
    width: 70%; 
    background-color: lightyellow;
}

.contact-list {
    display: flex; 
    flex-wrap: wrap;
}

ul li {
    width: 40%; 
    padding: 0; 
}

.changetext {
    width: 450px; 
    margin-top: 10px; 
}

.changeinp, 
#states {
    width: 600px; 
    height: 70px; 
    margin-top: 10px; 
    padding: 0; 
}

.radiocircle {
    margin-right: 20px; 
    flex-basis: 60%; 
    width: 460px; 
}

h1
{
    font-size:  50px; 
    transition: font-size 1s; 
}

h1:hover {
    font-size: 80px; 
    color: red; 
}

.second:hover {
    transform: rotate(180deg); 
}
}