/*======================================================================
Base Element Styles
=======================================================================*/

body {
    background-color: black; 
    max-width: 100%; 
    line-height: 2.6em; 
    font-family: 'Merriweather', serif;
    font-size: 16px; 
}

p, 
label {
    color: rgba(0, 0, 0, 0.5);
    width: 100%; 
}

p {
    text-align: left; 
}

.hr1 {
    border: none; 
    height: 4px; 
    color: #333; 
    background-color: #332; 
}

.hr2 {
    border: none; 
    height: 1px; 
    color: #333; 
    background-color: #332; 
}

/*======================================================================
Top Section Styles
=======================================================================*/

.container {
    box-sizing: border-box;
    background-color: white; 
    margin: 0 auto;
    width: 75%; 
    padding: 10px; 
}

.top {
    text-align: center; 
    margin: 0; 
}

.first-header {
    background-color: rgb(105, 105, 105); 
    text-transform: uppercase; 
    width: 100%; 
    padding-bottom: 40px;
    margin: 0; 
}

h1 {
    color: white; 
    padding-top: 40px; 
    margin: 0 auto; 
    width: 100%;  
}

.third p {
    text-align: center; 
    line-height: 1em;
}

/*======================================================================
Contact Information Styles
=======================================================================*/
label {
    display: block;
    margin-top: 5px; 
    text-align: left; 
}

fieldset {
    border: 0; 
    text-align: left; 
}

legend {
    font-size: 24px; 
    text-align: left; 
    font-weight: bold; 
    padding-top: 40px; 
}

input {
    text-align: right; 
}

.changetext {
width: 100%; 
}

.changeinp {
    margin-bottom: 25px; 
    padding-right: 0px; 
    height: 44px; 
    width: 100%; 
    background-color: lightgrey; 
    border-radius: 7px 7px 7px 7px; 
}

#states {
color: darkslategray; 
    margin-bottom: 25px; 
    padding-right: 0px; 
    height: 44px; 
    width: 100%; 
    background-color: lightgrey; 
    border-radius: 7px 7px 7px 7px; 
}

#zip {
max-width: 180px; 
}



/*======================================================================
Newsletter Styles
=======================================================================*/


.checkdiv {
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}    

.checkbox {
        flex-basis: 15%;
        padding-left: 0;
        margin-left: 0;  
        height: 50px; 
        margin-bottom: 20px; 
}

    .checktext {
        flex-basis: 85%;
        margin-left: 75px; 
}



/*======================================================================
Radio Styles
=======================================================================*/
.radiodiv {
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}    

.radiotext {
        flex-basis: 90%;
        padding-left: 0;
        margin-left: 17%;
        width: 10%;    
}

    .radiocircle {
        flex-basis: 10%;
        margin-left: 4%; 
        height: 60px; 
        margin-bottom: 20px; 
}



/*======================================================================
Textarea, button and footer styles
=======================================================================*/

textarea {
    height: 150px; 
    width: 100%; 
    background-color: rgba(105, 105, 105, 0.3); 
    border-style: none; 
    border-radius: 7px 7px 7px 7px; 
}

.button {
    width: 100%; 
    text-align: center; 
    padding: 0; 
    margin: 0; 
}

.button-shape {
    background-color: mediumblue;
    text-align: center; 
    width: 80%;
    padding: 30px; 
    color: white;
    font-size: 30px; 
    border-radius: 7px 7px 7px 7px; 
}

.buttontext {
    color: white; 
}

.copy {
    text-align: center; 
}

footer {
    padding-bottom: 100px; 
}

/*======================================================================
Pseudo class, pseudo elements, transform and transition Styles
=======================================================================*/

:focus {
    background-color: rgb(231, 255, 122); 
    transition-duration: 4s; 
}

button:hover {
    outline: 3px dashed red; 
}

::placeholder {
    padding: 40px; 
    font-style: italic; 
}

label:hover {
    background-color: lightpink; 
    font-size: 40px; 
    line-height: 2em; 
    transition-duration: 2s; 
}

h1 {
    font-size:  32px; 
    transition: font-size 1s; 
}

h1:hover {
    font-size: 60px; 
    color: purple ; 
    line-height: 2em; 
}

.second:hover {
    transform: rotate(180deg); 
}

legend:hover {
    transform: scale(1.4);
}

input:valid {
    border: 2px solid green;
}

input:invalid {
    border: 1px solid red; 
}


/*======================================================================
Media Query Styles
=======================================================================*/


@media(min-width: 768px){

/*======================================================================
Overall
=======================================================================*/

body {
    background-color: tomato;
}

.container {
    width: 90%; 
    background-color: lightyellow;
}

/*======================================================================
Contact Section
=======================================================================*/
label {
    margin-top: 5px; 
    text-align: left; 
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.changetext {
    flex-basis: 20%; 
    align-self: flex-start;  
}

.changeinp {
    flex-basis: 68%; 
    margin-left: 10%; 
    align-self: flex-end; 
    width: 40%;
}

#states {
    flex-basis: 68.5%; 
    align-self: flex-start; 
}

#zip {
    flex-basis: 30%;
}



/*======================================================================
Radio Section
=======================================================================*/
.checkdiv {
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    width: 45%;
}    

    .checkbox {
        flex-basis: 15%;
        padding-left: 0;
        margin-left: 0;
        width: 10%;   
}

    .checktext {
        flex-basis: 85%;
        margin-left: 75px; 
}

.radiodiv {
    display: flex;  
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    width: 45%;
}    

    .radiotext {
        flex-basis: 85%;
        margin-left: 75px;
    
}

.radiocircle {
    flex-basis: 15%;
    padding-left: 0;
    margin-left: 0;
    width: 10%;
}


/*======================================================================
Pseudoclass Styles
=======================================================================*/

h1 {
    font-size:  50px; 
    transition: font-size 1s; 
}

h1:hover {
    font-size: 80px; 
    color: red; 
}

.second:hover {
    transform: rotate(180deg); 
}
}